Babel==2.9.1
cachelib==0.4.1
certifi==2021.10.8
chardet==3.0.4
click==8.0.3
Flask==0.12.4
Flask-Babel==0.9
Flask-Bower==1.0.1
Flask-Cache==0.13.1
Flask-Cors==2.0.0
Flask-Env==1.0.1
Flask-Markdown==0.3
Flask-OAuthlib==0.9.6
Flask-PyMongo==0.3.1
future==0.18.2
gunicorn==19.7.1
idna==2.7
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
MyCapytain==2.0.0b8
oauthlib==2.1.0
pymongo==2.9.5
pyparsing==3.0.6
pytz==2021.3
PyYAML==6.0
rdflib==6.0.2
rdflib-jsonld==0.6.2
requests==2.20.0
requests-cache==0.4.9
requests-oauthlib==1.1.0
six==1.16.0
speaklater==1.3
urllib3==1.26.5
Werkzeug==0.16.1
