{% macro display_auth_list(list_of_authors) -%}
	<ul>
		{% for auth in list_of_authors %}
			<li>{{ auth['name'] }}</li>	
				<ul>
				{% for work in auth['works'] %}					
					<li>{{ work['title'] }}</li>
						<ul>
							{% for millnum in work['millnums']%}
							<li> <a href="commentary/{{ millnum[0] }}">{{ millnum[1] }} (Milliet {{ millnum[0] }})</a> </li>
							{% endfor %}
						</ul>
				{% endfor %}
				</ul>				
		{% endfor %}
	</ul>

{%- endmacro %}

{% macro get_people(obj) -%}
    {% if obj['creator'] or obj['contributor']  %}
        <div class="provenance">
            <h5>Annotation Authors and Editors</h5>
            <ul class="list-unstyled">
            {% if obj['creator'] and 'name' in obj['creator'] %}
                <li class="creator">Created by:
                    <ul>
                        <li>{{ obj['creator']['name'] }}</li>
                    </ul>
                </li>
            {% endif %}
            {% if obj['contributor'] %}
                <li class="contributors">Contributors:
                    <ul>
                        {% for c in obj['contributor'] %}
                            {% if 'name' in c %}
                                <li>{{ c['name'] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{% macro get_text(uri, type) -%}
	<script type="text/javascript">
		$(function(){
			var textURI = "{{uri}}";
			get_cts(textURI, "{{type}}");
		});
	</script>
{%- endmacro %}
