{% macro display_auth_list(list_of_authors) -%}
    {% for auth in list_of_authors %}
        <div class="author-card">
            {% for work in auth['works'] %}
            <div class="row">
                <div class="col-xs-7">
                    <div class="work-name">
                        <h3>{{ auth['name'] }}</h3>
                        <h4>{{ work['title'] }}</h4>
                    </div>
                </div>
                <div class="col-xs-5 ">
                    <ul class="ref-list">
                        {% for millnum in work['millnums']%}
                        <li><a href="commentary/{{ millnum[0] }}">{{ millnum[1]|clean_ref }} (Commentary {{ millnum[0] }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{%- endmacro %}

{%  macro display_comm_list(list_of_commentaries) -%}
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ _('Milliet Commentary') }}</h2>
                  <ul id="milliet-list">
                      {% if 'oauth_user_uri' in session and session.oauth_user_uri != None %}
                          {% for num in list_of_commentaries %}
                              <li>
                                  <a href="commentary/{{ num }}">{{ num }}</a>
                                  <a class="right" href="{{url_for("edit", millnum=num)}}">{{ _('Edit') }}</a>
                              </li>
                          {% endfor %}
                      {% else %}
                          {% for num in list_of_commentaries %}
                              <li>
                                  <a href="commentary/{{ num }}">{{ num }}</a>
                              </li>
                          {% endfor %}
                      {% endif %}

                  </ul>
            </div>
        </div>
{%- endmacro  %}

{% macro get_people(obj) -%}
    {% if obj['creator'] or obj['contributor']  %}
        <footer class="provenance">
            <h5>{{ _('Annotation Authors and Editors') }}</h5>
            {% if obj['creator'] and 'name' in obj['creator'] %}
                <section>{{ _('Created by') }} <span property="dc:creator">{{ obj['creator']['name'] }}</span></section>
            {% endif %}
            {% if obj['contributor'] and obj['contributor']|length > 0 %}
                <section>{{ _('Contributors:') }}
                    <ul class="contributors">
                        {% for c in obj['contributor'] %}
                            {% if 'name' in c %}
                                <li property="dc:creator">{{ c['name'] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        </footer>
    {% endif %}
{%- endmacro %}

{% macro get_text(uri, type) -%}
    <script type="text/javascript">
        $(function(){
            var textURI = "{{uri}}";
            get_cts(textURI, "{{type}}");
        });
    </script>
{%- endmacro %}

