<footer id="footer" class="container">
        <h4>{{ _('The Digital Milliet would not be possible without the support of:') }}</h4>
        <div class="row">
            <div class="col-md-4">
                <a target="_blank" href="http://perseids.org/"> <img src="{{ url_for('static', filename='img/perseids_banner31.png') }}"/> </a>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="http://www.kressfoundation.org/"> <img src="{{ url_for('static', filename='img/kress_logo.png') }}"/></a>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="http://www.frqsc.gouv.qc.ca/"> <img src="{{ url_for('static', filename='img/FRQSC.png') }}"/></a>
            </div>
        </div>
    </div>
</footer>
