<nav class="navbar navbar-default" role="navigation">
  <div class="container">
   
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="{{url_for('index')}}"> <img src="{{ url_for('static', filename='img/digmilbanner.png')}}"/> </a>
    </div>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-dropdown">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('commentary')}}">Browse</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        {% if 'oauth_user_uri' in session and session.oauth_user_uri != None %}
          <li class="logout"><a href="{{url_for('r_oauth_logout')}}?next={{ request.url }}">Logout</a></li>
          <li><a href="{{url_for('new')}}">Add Record</a></li>
        {% else %}
          <li><a href="{{url_for('r_oauth_login')}}?next={{ request.url }}">Login</a></li>
        {% endif %}
         <!-- Should set this elsewhere... -->
        <!-- <li><a href="http://digmill.perseus.org/annotation">Add Record</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
    {% if 'oauth_user_uri' in session and session.oauth_user_uri != None %}
      <div class="navbar-right">Hello, {{ session.oauth_user_name or session.oauth_user_uri }}</div>
    {% endif %}

  </div><!-- /.container-fluid -->
</nav>
