{% extends "base.html" %}
{% block container_class %}{% endblock%}
{% block search_bar_class %}no-margin-bottom{% endblock%}

{% block content %}
{{ super() }}
<section id="search">
    <div class="container">
        <div class="line"><img class="logo" src="{{ url_for("static", filename='img/logo_Text.png') }}" /></div>
        <h2 class="line">{{ _('Combining Ancient Text And Image') }}</h2>
        <div class="line">
            <form id="search_box" action="{{ url_for("search") }}" method="GET">
                <div class="select-container">
                    <select id="search_dropdown" name="in">
                        <option value="Author">{{ _('Author') }}</option>
                        <option value="Title">{{ _('Title') }}</option>
                        <option value="Tags">{{ _('Tags') }}</option>
                    </select>
                    <div class="carret"><i class="fa fa-caret-down"></i></div>
                </div>

                <input id="term" name="query" type="text" class="form-control" placeholder="{{ _('Search for...') }}">
                <button type="submit">{{ _('Search') }}</button>
            </form>
        </div>
        <div class="line">
            <a role="button" class="btn btn-milliet btn-browse" href="commentary">{{ _('Browse') }}</a>
        </div>
    </div>
</section>

<div class="container" id="explanation-text">
    <p>{{ _('Welcome to the home of the Digital Milliet! This project collects together digitized passages of Greek and Latin that are related to painting in the ancient world, creating a cross-referenced database that a user can search by author, title, or topic. For more information, please see our <a href="about">about page</a>.') }}</p>
</div>
{% endblock %}
