{% extends "base.html" %}
{% import "auth_list.html" as a_list %}
{% import "comm_list.html" as c_list %}
{% block content %}
	{{ super() }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if res %}
                    {% if type == 'Tags' %}
                        {{ c_list.comm_list(res) }}
                    {% else %}
					    {{ a_list.auth_list(res) }}
                    {% endif %}
				{% else %}
					No Results. <a href="index"> Search again? </a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}