/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}

#wrap {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 150px;
}
.navbar {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.footer {
  position: absolute;
  bottom: 0;
  margin-top: -60px;
  padding-top: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.well {
  height: 500px;
  overflow: scroll;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #1A7484 0%, #265a88 100%);
  background-image:      -o-linear-gradient(top, #1A7484 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A7484), to(#265a88));
  background-image:         linear-gradient(to bottom, #1A7484 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1A7484', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}


.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

