{% extends "base.html" %}
{% from "commentary/get_text.html" import get_text with context %}
{% from "commentary/get_people.html" import get_people with context %}
{% block content %}

  <div class='row'>
    <div class='col-md-6'>
      <div id="auth_head"> <h2>{% if info['auth'] %}{{ info['auth'] }}, {{ info['work'] }} {{ info['passage'] }}{% endif %}</h2></div>
    </div>
    <div class='col-xs-8'>
      <div class='row'>
        <div class='col-xs-6'>
          <!-- original text -->
          <div class='well'>
            <!-- Need to define some css for the text boxes, max height, scrolling, etc -->
            <div id='origin_text'>
              <!-- going to need a way for all of the text fields to grab text if uri, or display char field if not -->
              {% if 'orig_text' in obj and obj['orig_text'] != '' %}
                <p>{{ obj['orig_text'] }}</p>
              {% elif 'orig_uri' in obj and obj['orig_uri'] != '' %}
                <p>{{ get_text(obj['orig_uri'], '#origin_text p') }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class='col-xs-6'>
          <!-- translations -->
          <!-- really these ought to be generated based on the attached translations but this will work for now, only need to change how the tab is named, reference a list or something -->
          <div class='well'>  
            <ul id='lang_tabs' class='nav nav-tabs nav-justified' role="tablist">
              <li role='presentation'><a href='#eng' aria-controls='eng' role='tab' data-toggle='tab'>English</a></li>
              <li role='presentation'><a href='#fra' aria-controls='fra' role='tab' data-toggle='tab'>French</a></li>
            </ul>

            <div class='tab-content'>
              <div role='tabpanel' class='tab-pane' id={{ obj['t1_lang']}}>
                {% if 't1_uri' in obj %}
                  <p>{{ get_text(obj['t1_uri'], '#eng p') }}</p>
                {% else %}
                  <p>{{ obj['t1_text'] }}</p>
                {% endif %}
                {{ get_people(obj) }}
              </div>
              <div role='tabpanel' class='tab-pane' id={{ obj['t2_lang']}}>
                {% if 't2_uri' in obj %}
                  <p>{{ get_text(obj['t2_uri'], '#fra p') }}</p>
                {% else %}
                  <p>{{ obj['t2_text'] }}</p>
                {% endif %}
                {{ get_people(obj) }}
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript"> 
          $(function(){
            set_active();
          });
        </script>
      </div>
      <div class='row'>
        <!-- commentary and bibliography -->
        <div class='col-xs-12'>
            <div class='well'>
              <ul id='comm_tabs' class='nav nav-tabs nav-justified' role="tablist">
                <li role='presentation' class='active'><a href='#commentary' aria-controls='commentary' role='tab' data-toggle='tab'>Commentary</a></li>
                <li role='presentation'><a href='#bibliography' aria-controls='bibliography' role='tab' data-toggle='tab'>Bibliography</a></li>
              </ul>

              <div class='tab-content'>

                  <div role='tabpanel' class='tab-pane active' id='commentary'>
                      <p>{% filter markdown %}{{ obj['comm'] }}{% endfilter %}</p>
                      {{ get_people(obj) }}
                  </div>
                  <div role='tabpanel' class='tab-pane' id='bibliography'>
                      <p>{% filter markdown %}{{ obj['bibl'] }}{% endfilter %}</p>
                      {{ get_people(obj) }}
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class='col-xs-4'>
      <!-- images -->
      <div class='well'> 
        {% if 'images' in obj %}
          {% for img in obj['images'] %}
            <div class='row'>
              <div class='col-xs-12'>
                <img src="{{ url_for('static', filename='img') }}"/>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      
    </div>
  </div>
  <div class='row'>
    <a href="{{url_for('api_data_get', millnum=millnum)}}">Get JSON</a>
  </div>
{% endblock %}
