{% extends "base.html"%}
{% from "commentary/get_text.html" import get_text with context %}
{% from "commentary/edit_macro.html" import markdown_menu, translation %}
{% block morecss %}
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
    <style type="text/css">
        fieldset { margin:1em 0;}
        fieldset legend { color: #1344ff;}
    </style>
{% endblock %}
{% block morejavascript %}
    <script src="{{ bower_url_for('codemirror','lib/codemirror.js') }}"></script>
    <script src="{{ bower_url_for('codemirror','addon/edit/continuelist.js') }}"></script>
    <script src="{{ bower_url_for('codemirror','mode/xml/xml.js') }}"></script>
    <script src="{{ bower_url_for('codemirror','mode/markdown/markdown.js') }}"></script>
    <script src="{{ bower_url_for('jquery.markdownify', 'lib/jquery.markdownify.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/commentary.js')}}"></script>
    {% if "orig_uri" in obj %}{{ get_text(obj['orig_uri'], '#orig_text') }}{% endif %}
    <script type="text/javascript">
        $(function () {
          $('.markdown').markdownify();
        });
    </script>
{% endblock %}
{% block content %}
 {{ super() }}
	<div class="container">
 
      <form id='input_form' action="save_edit" method="POST">
        <input type='hidden' name='mongo_id' value={{obj['mid']}}>
        <h2>{{ 'Edit Commentary :  '+millnum }}</h2>

        <!-- inital text -->
        <fieldset class="row">
          <legend>{{ 'Text:' }}</legend>
          <div class="col-md-4">
            {% if 'orig_uri' in obj %}
              <input name="orig_uri" type='text' value="{{obj['orig_uri']}}" class="form-control"/><br />
            {% endif %}
              <select class="form-control" name="orig_lang" id="orig_lang">
                  <option value="grc" {% if obj['orig_lang'] == 'grc' %} selected='selected' {% endif %}>{{ ('Ancient Greek') }}</option>
                  <option value="lat" {% if obj['orig_lang'] == 'lat' %} selected='selected' {% endif %}>{{ ('Latin') }}</option>
              </select>
          </div>
          <div class="col-md-8">
              <textarea id="orig_text" name='orig_text' rows="10" cols="80" class="form-control">{{ obj['orig_text'] }}</textarea>
          </div>
        </fieldset>

        <!-- Commentary -->
        <fieldset class="row">
            <legend>{{ 'Commentary:' }}</legend>
            <div class="col-md-12">
                {{  markdown_menu("c1text") }}
                <textarea class='markdown' id="c1text" name="c1text" rows="10" cols="80" data-lnum="c1">{{ obj['comm'] }}</textarea>
            </div>
        </fieldset>

        <!-- Bibliography information -->
        <fieldset class="row">
          <legend>{{ 'Bibliography:' }}</legend>
          <div class="col-md-12">
            <textarea class="form-control" id="b1text" name="b1text" rows="10" cols="80" data-lnum="b1">{{ obj['bibl'] }}</textarea>
          </div>
        </fieldset>

        <!-- Translation 1 -->
        {{ translation("1", obj) }}

        <!-- Translation 2 -->
        {{ translation("2", obj) }}
        
          <input type="submit" class="btn btn-primary" value="Save Changes" style="float: right; width:200px;"/>
        
      </form> 
 
  </div>
{% endblock %}
