{% macro get_tags(obj) %}
    {% if obj['tags'] %}
        <div class="tags">
            <h5>Tags</h5>
            <ul class="list">
            {% for t in obj['tags'] %}
                <li>{{ t }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if obj['semantic_tags'] %}
        <div class="semantic_tags">
            <h5>Semantic Tags</h5>
            <ul class="list">
                {% for t in obj['semantic_tags'] %}
                    <li>{{ t }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}
