{% extends "base.html" %}
{% from "browsing_macro.html" import display_auth_list %}


{% block title%}| Browse{% endblock %}
{% block content %}
<div class='row'>
	<div class="col-md-6">
		<h2>Author and Work</h2>
		{{ display_auth_list(auth_list) }}
	</div>

	<div class="col-md-6">
		<h2>Digital Milliet Entries and Commentary</h2>
		<ul>
			{% for num in millnum_list %}
				<li>{{ num }} <a href="{{url_for("commentary", millnum=num)}}">View</a> <a href="{{url_for("edit", millnum=num)}}">Edit</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}