{% extends "base.html" %}
{% from "browsing_macro.html" import display_auth_list %}


{% block title%}| {{ _('Browse') }}{% endblock %}
{% block content %}
<article id="browse">
    <h1>{{ _('Browse by') }}</h1>
    <nav class='row' id="browse">
        <div class="col-md-9">
            <h2>{{ _('Author and Work') }}</h2>
            {{ display_auth_list(auth_list) }}
        </div>

        <div class="col-md-3">
            <h2>{{ _('Milliet Commentary') }}</h2>
            <ul id="milliet-list">
                {% if 'oauth_user_uri' in session and session.oauth_user_uri != None %}
                    {% for num in millnum_list %}
                        <li>
                            <a href="commentary/{{ num }}">{{ num }}</a>
                            <a class="right" href="{{url_for("edit", millnum=num)}}">Edit</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for num in millnum_list %}
                        <li>
                            <a href="commentary/{{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
    </nav>
</article>
{% endblock %}
