
#footer {
	border-top:			2px solid $default-bg-color-active;
	padding-top:		$default-margin;
	padding-bottom:		$default-margin;
	h4 {
		font-weight:	normal;
		margin-bottom:	$default-margin;
	}

	img {
		height:			50px;
		width:			auto;
		display:		block;
		margin:			0 auto;
	    @media (max-width: $screen-sm-max) {
			margin-bottom:		20px;
	    }
	}
}
