// Basics of a navbar
$navbar-height:                    80px;
$navbar-margin-bottom:             35px;
$navbar-border-radius:             0;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #fff;
$navbar-default-bg:                #455a64;
$navbar-default-border:            #455a64;
$navbar-default-border-size:	   0px;

// Navbar links
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             #607d8b;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            #607d8b;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         transparent;
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #fff;
$navbar-default-toggle-icon-bar-hover-bg:  $navbar-default-bg;
$navbar-default-toggle-border-color:       #ddd;