<html>
<link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
<link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/app.css')}}">
<link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/commentary.js')}}"></script>
<script src="{{ bower_url_for('capitains-sparrow', 'dist/cts.min.js') }}"></script>
<script src="{{ bower_url_for('capitains-sparrow.xslt', 'dist/jquery.cts.xslt.min.js') }}"></script>
<script src="{{ bower_url_for('capitains-sparrow.service', 'dist/jquery.cts.service.min.js') }}"></script>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
<script src="{{ bower_url_for('codemirror','lib/codemirror.js') }}"></script>
<script src="{{ bower_url_for('codemirror','addon/edit/continuelist.js') }}"></script>
<script src="{{ bower_url_for('codemirror','mode/xml/xml.js') }}"></script>
<script src="{{ bower_url_for('codemirror','mode/markdown/markdown.js') }}"></script>
<script src="{{ bower_url_for('marked','lib/marked.js') }}" type='text/javascript'></script>
<link rel='stylesheet' href="{{ bower_url_for('codemirror','lib/codemirror.css') }}"></link>

<script src="{{ bower_url_for('jquery.markdownify', 'lib/jquery.markdownify.js') }}"></script>
<link rel="stylesheet" href="{{ bower_url_for('jquery.markdownify','lib/jquery.markdownify.css') }}"></link>


<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<head>
		<title>The Digital Milliet Project</title>
	</head>
	{% with messages = get_flashed_messages() %}
  	{% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}	
	<body class = "body">
		<div id="navbar">{% include 'header.html' %}</div>
		<div id='wrap'>
			<div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">{% include 'footer.html' %}</div>
	</body>
</html>
