
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<h4>The Digital Milliet would not be possible without the support of:</h4>
			<div class="col-md-5">
				<a target="_blank" href="http://perseids.org/"> <img style="max-height:60px" src="{{ url_for('static', filename='img/perseids_banner31.png') }}"/> </a>
			</div>
			<div class="col-md-3">
				<a target="_blank" href="http://www.kressfoundation.org/"> <img style="max-height:60px" src="{{ url_for('static', filename='img/kress_logo.png') }}"/></a>
			</div>
			<div class="col-md-4">
				<a target="_blank" href="http://www.frqsc.gouv.qc.ca/"> <img style="max-height:60px" src="{{ url_for('static', filename='img/FRQSC.png') }}"/></a>
			</div>
		</div>
		<div class="row voffset4"></div>
	</div>
</footer>
