{% extends "base.html" %}
{% block content %}
	{{ super() }}
		<div class="row">
			<div class="col-md-12">
				<h1>The Digital Milliet Project</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="lead">Welcome to the home of the Digital Milliet Project.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<button type="button" class="btn btn-primary btn-large">Browse</button>
			</div>
			<div class="col-md-3 col-md-offset-3">
				<button type="button" class="btn btn-primary btn-large">Search</button>
			</div>
		</div>
	
{% endblock %}