{% extends "base.html" %}
{% block content %}
	{{ super() }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p class="lead">Welcome to the home of the Digital Milliet Project! The Project aims to collect together digitized passages of Greek and Latin related to painting in the ancient world, creating a cross-referenced database that a user can search by author, title, or topic. For more information, please see our about page.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-xs-offset-2">
				<a role="button" class="btn btn-primary btn-large btn-block" href="commentary">Browse</a>
			</div>
			<div class="col-xs-3 col-xs-offset-2">
				<button type="button" class="btn btn-primary btn-large btn-block">Search</button>
			</div>
		</div>
	</div>
{% endblock %}
